@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryGray: #e6e5e5;
  --primaryGrayDarker: #d6d6d6;
  --darkGray: #2e2e2e;
  --tealBlue: #12677a;
  --tealBlueDark: #157489;
  --redOrange: #ff3217;
  --redPink: #f81920;
}
