.uploadFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.uploadForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: var(--primaryGray);
  padding: 10px 17px;
  border-radius: 7px;
  box-shadow: 4px 4px 5px 0px #717171aa;
}

.uploadTitle {
  margin-top: 6px;
  font-size: 21px;
  background: var(--tealBlue);
  padding: 5px 10px;
  border-radius: 3px;
}

.formItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.formItemLabel {
  font-size: 15px;
  color: var(--darkGray);
}
.formItemInput {
  width: 400px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: var(--primaryGrayDarker);
}
.formItemInput::placeholder {
  color: var(--darkGray);
  font-size: 16px;
  font-weight: 500;
}

.formItemInputTextarea {
  width: 400px;
  height: 180px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: var(--primaryGrayDarker);
}

.submitUploadBtn {
  margin: 6px 0px;
  padding: 9px 12px;
  border: none;
  outline: none;
  background: var(--tealBlue);
  color: var(--primaryGray);
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.submitUploadBtn:hover {
  background: var(--tealBlueDark);
}
