.cardWrapper {
  padding: 5px;
  height: 390px;
  width: 280px;
  background: var(--primaryGray);
  color: var(--darkGray);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 2px #3838386c;
}

.cardImage {
  margin-top: 2px;
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.imgTitle {
  margin-top: 5px;
}

.productDesc {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}
.productPrice {
  margin-top: 15px;
}
.priceText {
  font-weight: 600;
}

.btnContainer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.updateBtn {
  padding: 7px 15px;
  border: 1px solid var(--tealBlue);
  outline: none;
  color: var(--tealBlue);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.updateBtn:hover {
  background: var(--tealBlue);
  color: var(--primaryGray);
}
.updtIcon {
  font-size: 17px;
}

.deleteBtn {
  padding: 7px 15px;
  border: 1px solid var(--redPink);
  outline: none;
  color: var(--redPink);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.deleteBtn:hover {
  background: var(--redPink);
  color: var(--primaryGray);
}
.dltIcon {
  font-size: 17px;
}
